body {
  height: 100vh;
  display: flex;
}

.wrapper {
  margin: 0;
  padding: 1rem;
}

.container {
  position: relative;
  display: flex;
  height: 100vh;
  z-index: 0;
}

.panel {
  height: 100%;
  overflow-y: scroll;
  padding: 20px;
  background-color: none;
}

.left-panel {
  width: 25%;
  flex-shrink: 0;
  background-color: none;
}

.right-panel {
  flex-grow: 1;
  background-color: none;
}

.description {
  padding: 1rem;
}

/* .description--bio{

} */

.studio {
  padding: 1rem;
}

.lab {
  padding: 1rem;
}

/* sandwich wrapper*/
#sandwich-wrapper{
  width: 20%;
  position: absolute;
  z-index: 5;
}

/* Circle */
.circle {
  top: 500px;
  left:230px;
  background-color: rgb(33, 33, 33);
  border: 0.5em solid white;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  color: white;
  transform: rotate(20deg);
  cursor: grab;
}

.circle:active,
#burst-12:active {
  cursor: grabbing;
}

.sticker-text {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Schibsted Grotesk', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 3rem;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 19;
}

#burst-12 {
  background: red;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 20;
  margin: 0;
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  top: 30px;
  right: 50px;
  cursor: grab;
}

#bursty {
  font-size: 1.2rem;
  background: linear-gradient(130deg, hotpink, mediumslateblue, blueviolet, darkturquoise, mediumspringgreen, gold, orange, red);
  color: white;
  background-clip: text;
  -webkit-background-clip: text;
  cursor: pointer;
}

#burst-12:before,
#burst-12:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

#burst-12:before {
  transform: rotate(30deg);
}

#burst-12:after {
  transform: rotate(60deg);
}

#bursty:hover {
  color: transparent;
  transition: 500ms ease-in-out;
}

/* text effects */
.annotated.superscript {
  cursor: help;
  text-decoration: none;
  background-image: linear-gradient(to right, rgba(254, 255, 162, 0.8) 0%, rgba(254, 255, 162, 0.8) 50%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 100%);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 200% 2px;
  transition: background-position 0.5s ease 0.3s, background-size 0.3s ease 0s;
  padding: 3px 0px;
}

.superscript {
  margin-left: 3px;
  vertical-align: top;
  position: relative;
  top: -5px;
}

.footnote {
  /* grid-column: 24 / 28;
  grid-row-start: 2; */
  padding-top: 6vh;
  font-size: 10px;
  line-height: 14px;
  display: block;
}

/* Envelope */
/* .envelope {
  position: relative;
  cursor: pointer;
}

.back {
  position: relative;
  width: 250px;
  height: 200px;
  background-color: #6247aa;
}

.letter {
  position: absolute;
  background-color: #fff;
  width: 230px;
  height: 180px;
  top: 10px;
  left: 10px;
  transition: .2s;
}

.letter:before {
  position: absolute;
  content: "";
  background-color: #333;
  width: 80px;
  height: 80px;
  top: 75px;
  left: 75px;
}

.letter:after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-color: #fff;
  top: 82px;
  left: 82px;
  box-shadow: 36px 0 #fff, 36px 36px #fff, 0px 36px #fff;
}

.text {
  text-align: center;
  font-size: 17px;
  font-family: arial;
  margin-top: 20px;
  font-weight: bold;
}

.text:before,
.text:after {
  content: "";
  position: absolute;
  width: 5px;
  border-radius: 10px;
  background-color: #333;
  height: 20px;
  top: 60px;
}

.text:before {
  left: 108px;
  transform: rotate(-25deg);
}

.text:after {
  left: 118px;
  transform: rotate(25deg);
}

.front {
  position: absolute;
  border-right: 130px solid #815ac0;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  height: 0;
  width: 0;
  top: 0;
  left: 120px;
  z-index: 3;
}

.front:before {
  content: "";
  position: absolute;
  border-left: 130px solid #815ac0;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  height: 0;
  width: 0;
  top: -100px;
  left: -120px;
}

.front:after {
  content: "";
  position: absolute;
  border-bottom: 105px solid #7251b5;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  height: 0;
  width: 0;
  top: -5px;
  left: -120px;
}

.top {
  position: absolute;
  border-top: 105px solid #9163cb;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  height: 0;
  width: 0;
  top: 0;
  transform-origin: top;
  transition: .4s;
}

.envelope:hover .top {
  transform: rotateX(160deg);
}

.envelope:hover .letter {
  transform: translateY(-100px);
  z-index: 2;
} */